/** Universal Styles **/
html {
    font-size: 16px;
    background-image: url(./Media/blob-scene-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: white;
}

p {
    color: white;
    margin: 0;
    padding: 0;
}

/** Header and Nav **/
header {
    display: flex;
    align-items: center;
    background-color: #FBAE3C;
    border: 1px solid #FBAE3C;
    border-radius: 56px;
    position: fixed;
    width: 70%;
    padding-bottom: 2rem;
    padding-top: 1rem;
    z-index: 1000;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
}

header h1 {
    padding-left: 1.1rem;
    color: black;
}

header span {
    display: flex;
    align-items: center;
}

header span a img{
    display: inline;
    padding-left: 1.1rem;
}

nav ul {
    display: inline;
}

nav ul li {
    display: inline;
    padding-right: 1.3rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;
}

nav ul li :hover{
    color: #929292;
}

@media only screen and (max-width: 1199px) {
    nav ul {
        display: none;
    }

    header h1 {
        display: none;
    }

    .header {
        display: none;
    }

    .mobile {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #FBAE3C;
        border-radius: 56px;
        position: fixed;
        width: 100%;
        margin-top: 0;
        padding-top: 0;
        z-index: 1000;
    }

    .mobile ul li {
        display: inline;
        text-decoration: none;
        list-style: none;
        padding: 1rem;
    }

    .mobile ul {
        display: inline;
        padding: 0;
    }

    .mobile ul li a {
        text-decoration: none;
        color: white;
    }

    .aboutme p{
        flex-wrap: wrap;
        margin-right: 1rem;
    }

    .aboutme img {
        display: none;
    }

    html {
        background-image: url(./Media/blob-scene-haikei\ mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 1200px) {
    .mobile {
        display: none;
    }
}

/** About me article **/
#aboutme {
    position: relative;
    top: 10rem;
    padding-left: 1.1rem;
    max-width: 90%;
}

#aboutme h1 {
    margin-left: 0.4rem;
    font-size: 2rem;
}

.aboutme {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    width: 90%;
    padding-left: 7rem;
}

.aboutme p {
    padding-right: 3.5rem;
    font-family: cursive;
    color: #FBAE3C;
}

.aboutme img {
    height: auto;
    width: 500px;
    border-radius: 7px;
}
