/** Universal Styles **/
html {
    font-size: 16px;
    background-image: url(./Media/blob-scene-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: white;
}

p {
    color: white;
    margin: 0;
    padding: 0;
}

/** Header and Nav **/
header {
    display: flex;
    align-items: center;
    background-color: #FBAE3C;
    border: 1px solid #FBAE3C;
    border-radius: 56px;
    position: fixed;
    width: 70%;
    padding-bottom: 2rem;
    padding-top: 1rem;
    z-index: 1000;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
}

header h1 {
    padding-left: 1.1rem;
    color: black;
}

header span {
    display: flex;
    align-items: center;
}

header span a img{
    display: inline;
    padding-left: 1.1rem;
}

nav ul {
    display: inline;
}

nav ul li {
    display: inline;
    padding-right: 1.3rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;
}

nav ul li :hover{
    color: #929292;
}

/** About me article **/
#aboutme {
    position: relative;
    top: 10rem;
    padding-left: 1.1rem;
    max-width: 90%;
}

#aboutme h1 {
    margin-left: 0.4rem;
    font-size: 2rem;
}

.aboutme {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    width: 90%;
    padding-left: 7rem;
}

.aboutme img {
    height: auto;
    width: 500px;
    border-radius: 7px;
}
